.user-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Saira';
}

.user-main h2 {
    font-size: 40px;
}

.user-log {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: black;
    height: 100vh;
    gap: 20px;
}

.user-log form {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
}

.user-log table {
    margin: 50px;
    width: 50%;
}

form #exercises {
    font-size: 20px;
    padding: 5px;
    margin: 15px;
}

form label {
    font-size: 20px;
    margin-right: 5px;
    box-sizing: border-box;
}

form input {
    font-size: 20px;
    flex: 1;
}

form div {
    margin: 5px;
    display: flex;
    align-items: center;
}

.sets-reps {
    height: 70%;
    width: 50%;
    padding: 1px;
}

.weight {
    flex: 2;
    height: 40%;
    width: 53%;
}

.sets {
    flex: 1;
    height: 40%;
    width: 33%;
}

.reps {
    flex: 1;
    height: 40%;
    width: 33%;
}

.sets-reps div {
    margin: 2px;
    width: 70%;
}

select#weight {
    height: 100%;
    width: 100%;
    font-size: 17px;
}

select#sets {
    height: 100%;
    width: 100%;
    font-size: 17px;
}

select#reps {
    height: 100%;
    width: 100%;
    font-size: 17px;
}

.log-chat {
    display: flex;
    margin-top: 250px;
}

.chat-interface {
    flex: 1;
    margin: 50px;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: auto;
}

.chat-messages {
    border: 1px solid black;
    background: white;
    text-align: left;
    padding: 20px;
}

.chat-interface #message-form {
    display: flex;
    border: 1px solid rgb(225,0,0);
}

.chat-interface input {
    flex: 1;
}

button {
    background: black;
}

button:hover {
    background: rgb(225,0,0);
    cursor: pointer;
}
#save-workout-button {
    border-radius: 20px;
    width: 100px;
    background: black;
}

#save-workout-button:hover {
    background: rgb(225,0,0);
    cursor: pointer;
}

.trash-icon:hover {
    fill: rgb(225,0,0);
    cursor: pointer;
  }
  
  
  
  